@import "tailwindcss";

@theme {
  --color-base-primary: #282c34;
  --color-base-secondary: #333842;
  --color-accent-primary: #1a7ba0;
  --color-accent-secondary: #3ba0be;
  --font-sans: "IBM Plex Sans JP", sans-serif;
}