---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center gap-2 rounded-full bg-[#2882a7] px-4 py-2 font-medium text-neutral-200 transition-colors hover:bg-[#2882a7]/80"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 323.86 352.27"
    class="size-5"
  >
    <g fill="currentColor">
      <path
        d="M165.62 216.8c-.76.39-1.6.59-2.43.59s-1.67-.2-2.43-.59l-55.88-28.59-8.79 37.21c0 5.9 4.78 10.68 10.68 10.68h112.86c5.9 0 10.68-4.78 10.68-10.68l-8.79-37.21-55.89 28.59Z"
      ></path>
      <path
        d="M315.29 186.34c-12.86-47.03-34.69-85.88-63.14-112.35-18.47-17.19-39.14-28.83-60.92-34.48 1.98-3.23 4.11-7.58 6.58-13.31 3.81-8.85 6.85-17.54 6.98-17.91 1.13-3.25-.58-6.81-3.84-7.94-3.25-1.13-6.81.58-7.94 3.84-4.67 13.4-9.77 24.61-12.75 29.34-3.22-3.43-8.53-11.09-12.87-18.77a6.237 6.237 0 0 0-10.86 0c-4.34 7.68-9.65 15.34-12.87 18.77-2.98-4.73-8.08-15.94-12.75-29.34a6.24 6.24 0 0 0-7.94-3.84 6.24 6.24 0 0 0-3.84 7.94c.13.37 3.17 9.06 6.98 17.91 2.29 5.32 4.29 9.45 6.16 12.61-23.16 5.45-44.98 17.66-64.16 36.09-27.56 26.48-48.4 65.09-60.26 111.67-13.53 53.1-9.58 92.45 12.06 120.29 13.59 17.48 33.47 29.54 60.79 36.86 21.49 5.76 47.95 8.56 80.9 8.56 46.27 0 111.45-4.81 143.2-46.41 10.47-13.72 16.7-30.6 18.51-50.17 1.83-19.86-.86-43.19-8.01-69.35ZM161.96 29.92c1.41 2.18 2.73 4.09 3.97 5.76-2.23-.1-4.46-.15-6.7-.12-.39 0-.77.02-1.16.02 1.22-1.65 2.51-3.52 3.89-5.66m121.59 259.72c-18.7 24.49-57.45 35.9-121.95 35.9S59.62 314.39 41.01 290.45c-16.01-20.6-18.46-53.34-7.26-97.29 5.05-19.82 11.83-37.95 20.12-53.99 6.13-8.73 28.06-36.03 58.65-29.76 32.9 6.74 34.42 57.87 34.4 67.62h-31.25c-2.15 0-4.15.64-5.83 1.74l53.35 27.29 53.35-27.29c-1.68-1.1-3.68-1.74-5.83-1.74h-33.7c-.01-9.75 1.5-60.87 34.4-67.62 23.87-4.89 42.46 10.65 52.39 21.87 10.66 17.95 19.34 38.86 25.7 62.11 11.81 43.22 9.81 75.6-5.96 96.26Z"
      ></path>
      <circle
        cx="105.36"
        cy="151.88"
        r="11.68"
        transform="rotate(-45 105.35156 151.88195)"></circle>
      <circle
        cx="217.38"
        cy="151.88"
        r="11.68"
        transform="rotate(-45 217.3715 151.88178)"></circle>
    </g>
  </svg>
  <span class="translate-y-0.5">スポンサー</span>
</a>
